<h4>{{categoryTitle}}</h4>
<div *ngIf="seriesListResult">
  <ul class="seriesListResult">
    <li *ngFor="let item of seriesListResult.result.series" class="mb-3">
      <b>{{item.series_code}}</b> <br />
      <b>series_name_th:</b> {{item.series_name_th}} <br />
      <b>series_name_eng:</b> {{item.series_name_eng}} <br />
      <b>observation_start:</b> {{item.observation_start}} <br />
      <b>observation_end:</b> {{item.observation_end}} <br />
      <b>last_update_date:</b> {{item.last_update_date}} <br />
    </li>
  </ul>
</div>
